{% extends 'base.html' %}

{% block body %}
<div class="main_content">
        <div class="header">Optical music recognition</div>
            <div class="info">
                <div>
                    The computer program is designed to generate music from an image using a convolutional neural network. The program is designed to recognize musical notes with an image and convert them into music. The main modules of the programs are: recognition module and music generation module. The computer program is implemented using the Python programming language using the TensorFlow and Music21 libraries. The Keras library was used to develop and train a neural network.
                </div>
            </div>
    </div>
{% endblock %}
